
.messages{
    display: flex;
    justify-content: right;
  }

.mainLogo{
    transform: scale(3);
    height: 250px;
    width: 200px;
   
}
.centerise{
    display: flex;
    justify-content: center;
    align-content: center;
}
.homeLogo{
    height: 130px;
    width: 80px;
    top: 0px;
    left: 40px;
    position: absolute;
}
