.arrowDown{
    height: 300px;
    width: 150px;
    margin-left: 50%;
    margin-top: -22%;
    transform: rotate(23deg);
}

.upload {
    height: 450px;
    width: 225px;
    margin-left: 40%;
    margin-top: -4%;
}

.uploadBar{
    margin-left: 28%;
    margin-top: 5%;
}

.uploadButton {
    height: 40px;
    margin-left: 1%;
    margin-top: 0.5%;
}

.barText {
    margin-top: -4.5%;
    margin-left:  10%;
}

.textButton {
    margin-top: -2.4%;
    margin-left:  62.5%;
}
